.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  gap: 10px;
}

.name {
  margin-right: auto;
}
